<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <title>Software Forum</title>
</head>

<body>
<header th:replace="layout :: header" />

<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/categories/edit/{id}(id=${category.id})}" method="POST" enctype="multipart/form-data">
                <div class="alert alert-danger" th:if="${error}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong th:text="${error}"></strong>
                </div>
                <fieldset>
                    <legend>Edit Category</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Category Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="category_name" placeholder="Category Name" name="name" th:value="${category.name}" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_image">Add an Image</label>
                        <div class="col-sm-4 ">
                            <input  type="file"  id="category_image" name="picture"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="submit" class="btn btn-success" value="Edit"/>
                            <a class="btn btn-default" th:href="@{/admin/categories/}">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<footer th:replace="layout :: footer" />
</body>

</html>