<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <title>Software Forum</title>
</head>

<body>
<header th:replace="layout :: header" />

<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/topic/edit/{id}(id=${topic.id})}" method="POST">
                <fieldset>
                    <legend>Edit Topic</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="topic_title">Topic Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="topic_title" placeholder="Post Title" name="title" th:value="${topic.title}" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="topic_description">Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="topic_description" name="description" th:field="${topic.description}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="topic_forum">Forum</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="topic_forum" name="forumId">
                                <option th:each="forum : ${forums}" th:value="${forum.id}" th:text="${forum.title}"  th:selected="${forum.id == topic.forum.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="submit" class="btn btn-success" value="Edit"/>
                            <a class="btn btn-default" th:href="@{/topic/{id}(id = ${topic.id})}">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<footer th:replace="layout :: footer" />
</body>

</html>