<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head" th:with="pageTitle='Software Forum'">
    <meta charset="UTF-8" />
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/style.css}" href="/Thymeleaf/styles.css"  rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../static/images/common/forum.ico" th:href="@{/images/common/forum.ico}" />
    <script th:src="@{/scripts/jquery-2.2.4.min.js}" src="D:/Swift Project Forum/Thymeleaf/jquery-3.1.0.min.js"></script>
    <script th:src="@{/scripts/bootstrap.js}" src="D:/Swift Project Forum/Thymeleaf/bootstrap.js"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>

<header  th:fragment="header">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">Software Forum</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/categories/}">Categories</a></li>
                            <li><a th:href="@{/admin/forums}">Forums</a></li>
                            <li><a th:href="@{/admin/users/}">Users</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/topic/create}">
                            Create Topic
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}">
                            My Profile
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">
                            Logout
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">
                            REGISTER
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>

<!--<main th:include="${view}"></main>-->

<footer th:fragment="footer">
    <div class="container modal-footer">

        <img align="left" class="img-rounded" th:src="@{/images/common/httf_blue.png}" height="77"/>
        <p>&copy; Software Development Project 2017</p>
    </div>
</footer>


</body>
</html>