<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <title>Java Forum</title>
</head>

<body>
<header th:replace="layout :: header" />

<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-dismissible alert-danger">
                    <h2>Access Denied!</h2>
                    <h4>You need to <a th:href="@{/logout}" class="alert-link">login</a> with different user.</h4>
                </div>
            </div>
        </div>
    </div>
</main>


<footer th:replace="layout :: footer" />
</body>

</html>